
.DS_Store
.bash_history
.cache/
.local/
.vscode
.config/
.python_history
__pycache__/

# environment variables (secrets included)
.env.local
.env.development
.env.testing
.env.staging
.env.production